.additional__title {
    width: 100%;
    height: 2.5px;
    background-color: var(--basic-green);
    position: relative;
}

.additional__content h2 {
    position: absolute;
    left: -32px;
    top: -30px;
    font-size: 36px;
    padding: 0 35px;
    background-color: #ffffff;
}

.additional__content {
    padding: 80px 0;
    display: flex;
    gap: 80px;
    position: relative;
}

.additional__table {
    border-spacing: 0;
    border-top: 1px solid #CDCDCD;
    width: 100%;
}

.additional__table td {
    border-bottom: 1px solid #CDCDCD;
    padding: 15px 0;
}

.additional__table .column-1 {
    text-transform: uppercase;
    font-size: 20px;
    color: #222222;
}

.additional__table .column-2,
.additional__table .column-3 {
    font-family: "Arial";
    color: #444444;
}

.additional__table button {
    text-transform: uppercase;
    width: 100%;
    color: #ffffff;
    background-color: var(--basic-green);
    padding: 7px 26px;
    font-family: 'Oswald';
}

.additional__table button:hover {
    background-color: var(--basic-green-hover);
}

.additional__table button:active {
    background-color: var(--basic-green-hover);
    color: rgba(100%, 100%, 100%, 0.3);
}

.additional__gift {
    background-image: url("../images/gift-photo-desktop.png");
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 46px;
    padding: 56px 43px 42px 41px;
}

.additional__gift p {
    max-width: 220px;
    color: #FFFFFF;
    font-family: "Arial";
    text-align: center;
    line-height: 20px;
}