.example {
    padding: 70px 0;
    background-image: linear-gradient(
            #ffffff 0%,
            #ffffff 25%,
            #F2F2F2 25%,
            #F2F2F2 100%);
}

.example__content {
    display: flex;
    justify-content: space-between;

}

.example__content h2 {
    font-size: 60px;
}

.example__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 436px;
}


.example__info p:not(.example__results p,.example__expenses p) {
    line-height: 1.5;
    color: var(--special-dark-grey);
    font-family: 'Arial';
    margin-top: 100px;
}

.example__results {
    display: flex;
    gap: 42px;
    margin-top: 70px;
    font-size: 30px;
    line-height: 37px;

}

.example__results p {
    border: 2.5px solid #CDCDCD;
    border-radius: 5px;
    padding: 15px 57px 20px 57px;
    text-transform: uppercase;
    position: relative;
}

.example__results p:first-of-type:after {
    content: "снижение веса";
    width: 130px;
    height: 50px;
    background-color: var(--basic-gray);
    color: var(--special-dark-grey);
    font-family: 'Arial';
    font-size: 14px;
    text-align: center;
    text-transform: lowercase;
    position: absolute;
    bottom: -32px;
    left: 17px;

}

.example__results p:last-of-type:after {
    content: "затрачено времени";
    width: 163px;
    height: 50px;
    background-color: var(--basic-gray);
    color: var(--special-dark-grey);
    font-family: 'Arial';
    font-size: 14px;
    text-transform: lowercase;
    text-align: center;
    position: absolute;
    bottom: -32px;
    left: 28px;

}

.example__expenses {
    display: flex;
    gap: 63px;
    margin-top: 55px;
    font-size: 20px;
    text-transform: uppercase;
}

.example__range {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.example__range p {
    text-transform: uppercase;
}

.example__custom-range {
    -webkit-appearance: none;
    width: 428px;
    height: 6px;
    background: #DCDCDC;
    border-radius: 2px;
}


.example__custom-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: white;
    border: 1px solid #CDCDCD;
    cursor: pointer;
    position: relative;
}


.example__custom-range::-webkit-slider-thumb::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #68B738;
    border-radius: 50%;
    top: 50%;
    left: 50%;
}


.example__custom-range::-moz-range-thumb {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: white;
    border: 1px solid #CDCDCD;
    cursor: pointer;
    position: relative;
}


.example__custom-range::-moz-range-thumb::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background: #68B738;
    border-radius: 50%;
    top: 50%;
    left: 50%;
}
.example__slider-img {
    --value: 50%;
    position: relative;
    max-width: 100%;
    height: 100%;
}
.slider-img {
    position: absolute;
    top: 0;
    height: 100%;
    object-fit: cover;
}
.slider-img-before {
    left: 0;
    width: var(--value);
    object-position: left;
}
.slider-img-after {
    right: 0;
    width: calc(100% - var(--value));
    object-position: right;
}

@media (max-width: 768px) {
    .example__content {
        flex-direction: column;
    }

    .example__info p:not(.example__results p,.example__expenses p) {
        margin-top: 63px;
    }
    .example__info {
        max-width: none;
    }
}