.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 53px;
}

.navigation__list {
    display: flex;
    gap: 32px;
}

.navigation__item {
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
}

.navigation__item a {
    color: black;
}

.header__logo {

}