.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 53px;
}

.navigation__list {
    display: flex;
    gap: 32px;
}

.navigation__item {
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;

}
.navigation__item:hover {
    opacity: 0.6;
}
.navigation__item-active {
    border-bottom: 3px solid #ffffff;
}
.navigation__item-black-active {
    border-bottom: 3px solid var(--basic-green);
}

.navigation__list a {
    color: #ffffff;
}

.navigation__list_black a {
    color: #000000;
}

.header__logo .logo a:hover {
    opacity: 0.8;
}
.header__logo .logo a:active {
    opacity: 0.6;
}

@media (max-width: 768px) {
    .header__logo {
        width: 174px;
        height: 52px;
    }
    .navigation__item a {
        color:#000000;
        font-size: 18px;
        line-height: 24px;

    }
    .navigation__item-active {
        border-bottom: 3px solid var(--basic-green);
    }
}