.options__title {
    width: 100%;
    height: 2.5px;
    background-color: var(--basic-green);
}

.options__content {
    position: relative;
    padding-top: 57px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 61px;
}

.options__content h2 {
    font-size: 36px;
    position: absolute;
    left: -41px;
    top: -21px;
    background-color: #ffffff;
    padding: 0 40px;
}

.options__form {
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    gap: 104px;
    align-items: center;
    position: relative;
    justify-content: center;
}

.options__checkbox {
    display: flex;
    gap: 19px;
    align-items: center;
}

.options__checkbox span {
    width: 40px;
    height: 40px;
    border: 1px solid #E7E7E7;
    display: block;
}

.options__checkbox input[type="checkbox"] {
    position: absolute;
    z-index: -1;
    opacity: 0;

}

.options__checkbox label {
    position: relative;
}

.options__checkbox label:before {
    content: "";
    position: absolute;
    left: -42px;
    top: 0;
    width: 10px;
    height: 16px;
    border: solid var(--basic-green);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg) scale(0);
}

.options__checkbox input:checked ~ label:before {
    transform: rotate(45deg) scale(1);
}

.options__button {
    display: flex;
    gap: 80px;
    width: 100%;
    align-items: center;
}

.options__button button {
    max-width: 568px;
    height: 52px;
    background-color: var(--basic-green);
    text-transform: uppercase;
    color: #ffffff;
    flex: 1;
}

.options__button p {
    font-size: 16px;
    font-family: "Arial";
}
@media (max-width: 768px) {
    .options__form {
        display: grid;
        grid-template-columns:  1fr 1fr;
        gap: 32px;

    }
    .options__button {
        max-width: 565px;
    }
    .options__button button {
        padding:13px 45px;
    }

}