.programs__content {
    padding: 155px 0 70px 0;

}

.programs__list {
    display: flex;
    gap: 80px;
}

.programs__item {
    min-width: 570px;
    min-height: 374px;
    background-color: var(--basic-gray);
    padding: 40px 50px 50px 50px;
}

.programs__item p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 40px;
    font-family: 'Arial';
}

.programs__item-title {
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 36px;
    text-transform: uppercase;
}

.programs__item a {
    display: flex;
    gap: 26px;
    margin-top: 27px;
    font-family: 'Oswald';
    font-size: 20px;
    text-transform: uppercase;
    color: #000000;
}
.programs__item a:active {
    opacity: 0.3;
}

.programs__item a img {
    align-self: center;
}