.start-screen__content {
    display: flex;
    position: relative;
}

.start-screen__content img {
    position: relative;
    z-index: 0;
    top: 27px;
}

.background-cat {
    background-image: url("../images/index-background-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 47.5%;
    height: 700px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

}

.start-screen__info {
    display: flex;
    flex-direction: column;
    padding: 100px 0 0 80px;

}

.start-screen__content h1 {
    font-size: 60px;

}

.start-screen__content p {
    font-size: 20px;
    margin-top: 40px;
    text-transform: uppercase;

}

.start-screen__content button {
    width: 224px;
    height: 54px;
    background: var(--basic-green);
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    margin-top: 52px;
    text-transform: uppercase;

}